In [2]:
from scipy.stats import ttest_1samp
from scipy.stats import norm
import math
import scipy.stats
import pandas as pd

# Testing New Machine ( T-Test ), by Hand

In [8]:
md = pd.read_csv('machine.csv', sep=';')

In [9]:
md.head(20)

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.0         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [10]:
# h0: sample_new - sample_old >= w
# h1: sample_new - sample_old < w

# -> left sided t-test, with two umpaired samples

In [11]:
# calculating parameter
sample_new_mean = md['New machine'].mean()
sample_old_mean = md['Old machine'].mean()
sample_new_var = md['New machine'].var()
sample_old_var = md['Old machine'].var()
m = len(md.index)
n = len(md.index)
SEM = math.sqrt(sample_new_var / m + sample_old_var / n)

In [12]:
sample_new_std = md['New machine'].std()
sample_new_std

0.729459465022637

In [13]:
sample_old_std = md['Old machine'].std()
sample_old_std

0.7498888806572157

In [14]:
sample_new_mean

42.11

In [15]:
sample_old_mean

43.230000000000004

In [16]:
SEM

0.33082388735465335

In [17]:
# calculating test statistic, for left sided t-test with two samples
statistic = (sample_new_mean - sample_old_mean) / (SEM)
statistic

-3.3854870908983976

In [19]:
# critical value
critical_value = scipy.stats.t.ppf(q=0.05,df=m+n-2)
critical_value

-1.734063606617536

In [20]:
# critical area
# k: - infinite, -1,734
# N is element of K
# H0 can be rejected

In [22]:
# confidence intervall, upper limit
absoluteZ = abs(scipy.stats.t.ppf(q=0.05,df=m+n-2))
upperCI = sample_new_mean + absoluteZ*math.sqrt(sample_new_var)/math.sqrt(n-1)
upperCI

42.53164303693282

In [23]:
# confidence intervalll, lower limit
lowerCI = sample_new_mean - absoluteZ*math.sqrt(sample_new_var)/math.sqrt(n-1)
lowerCI

41.68835696306718

## Checking Results with scipy

In [24]:
scipy.stats.ttest_ind(md['New machine'], md['Old machine'])

Ttest_indResult(statistic=-3.385487090898397, pvalue=0.0032957327613441804)

In [ ]:
# calculation correct, result is considered statistically significant (p-value)